{% extends 'admin/layout.twig' %}
{% set title = 'Préférences' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li class="active">{{ title }}</li>
    </ol>
{% endblock %}

{% block title %}
    <span class="glyphicon glyphicon-wrench"></span> {{title}}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="" method="post">
        {{ form_row(form.site) }}

        <div class="form-group{{ form.password.first.vars.errors|length>0 ? " has-error" : "" }}">
            {{ form_label(form.password.first) }}
            <div class="col-sm-5">
                {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="col-sm-5">
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a href="{{ path('admin') }}" class="btn btn-default">Annuler</a>
            </div>
        </div>
    </form>
{% endblock %}


