<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title '' %} - RemindMe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">

        <link href="{{ asset('/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/flatly.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/jquery.datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/ladda-themeless.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/css/general.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/css/register.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/css/contacts.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include 'blocks/top_menu.twig' %}
        <div class="container">
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include 'blocks/left_menu.twig' %}
                    </div>
                {% else %}
                    <div class="well">
                {% endif %}
                        {% block content %}{% endblock %}
                    </div>
            </div>
        </div>
    </div>

        <!-- Javascript -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    
    <script src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.datetimepicker.js') }}"></script>
    <script src="{{ asset('/js/datepicker-fr.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/kalendar.js') }}"></script>
    <script src="{{ asset('/js/jquery.soap.js') }}"></script>
    <script src="{{ asset('/js/SoapManager.js') }}"></script>
    <script src="{{ asset('/js/jquery.searchable-1.0.0.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.confirm.min.js') }}"></script>
    <script src="{{ asset('/js/spin.min.js') }}"></script>
    <script src="{{ asset('/js/ladda.min.js') }}"></script>
    <script src="{{ asset('/js/handlebars-v1.3.0.js') }}"></script>
    <script src="{{ asset('/js/calendar.js') }}"></script>
    <script src="{{ asset('/js/functions.js') }}"></script>
</body>
</html>
