{% extends "modal.twig" %}

{% block idModal %}registerModal{% endblock %}
{% block titleModal %}Inscrivez-vous !{% endblock %}
{% block bodyModal %}

    <div class="form-group">
        <div class="input-group">
            {{ form_widget( 
                        formregister.email,
                        { 'attr': 
                                {
                                    'placeholder': 'Email',
                                    'label': 'Prénom'
                                } 
                        }
                )
            }}
            <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            {{ form_widget( 
                        formregister.password,
                        { 'attr': 
                                {
                                    'placeholder': 'Mot de passe',
                                    'label': 'password'
                                } 
                        }
                )
            }}
            <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                {{ form_label(
                        formregister.role
                    ) 
                }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
            {{ form_widget(
                    formregister.role
                ) 
            }}
            </div>
        </div>
    </div>
    {{ form_widget(formregister) }}
{% endblock %}
{% block idSubmitModal %}do_register{% endblock %}