{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{{ path('user.register') }}" role="form" method="POST" >
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2>Inscrivez-vous !</h2>
                            <hr class="colorgraph">
                            
                            <div id="registermodal">
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form_widget( 
                                                    formregister.email,
                                                    { 'attr': 
                                                            {
                                                                'placeholder': 'Email',
                                                                'label': 'Prénom'
                                                            } 
                                                    }
                                            )
                                        }}
                                        <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form_widget( 
                                                    formregister.password,
                                                    { 'attr': 
                                                            {
                                                                'placeholder': 'Mot de passe',
                                                                'label': 'password'
                                                            } 
                                                    }
                                            )
                                        }}
                                        <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            {{ form_label(
                                                    formregister.role
                                                ) 
                                            }}
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            {{ form_widget(
                                                    formregister.role
                                                ) 
                                            }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_widget(formregister) }}
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12"><button type="submit" id="do_register" class="btn btn-primary btn-block ladda-button" data-style="zoom-out" data-spinner-size="35"><span class="ladda-label">Valider</span></button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}